<!DOCTYPE HTML>
<html lang = "en-US">
<head>
	<meta charset = "UTF-8">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<title>Roid Rage</title>
	<script type="text/javascript" src = "http://code.jquery.com/jquery-latest.min.js"></script>
	<script src = "/javascripts/modernizr.js"></script>
	<script src = "/javascripts/loader.js"></script>
</head>
<body>
	<div id = "game">
		<div id = "main-menu" class = "screen">
			<ul class = "menu">
				<li><button id = "id-new-game">New&nbsp;Game</button></li>
				<li><button id = "id-high-scores">High&nbsp;Scores</button></li>
				<li><button id = "id-help">Help</button></li>
				<li><button id = "id-about">About</button></li>
			</ul>
		</div>
		<div id = "game-play" class = "screen">
			<canvas id = "canvas-main" width = "900" height = "900"></canvas>
		</div>
		<div id = "high-scores" class = "screen">
			<h1>High Scores</h1>
			<input id="id-playerName" type="text" placeholder="player name">
			<button onclick="Asteroids.scoring.sendScoreServer();">Submit</button>
			<br>
			<button onclick="Asteroids.scoring.getScoresServer();">Show Scores</button>
			<p>
			<div id="scores-server">
			<ol id="result-high-scores">
			</ol>
			</div>
			</p>
			<ul class = "menu">
				<li><button id = "id-high-scores-back">Back</button></li>
			</ul>
		</div>
	</div>
</body>
</html>
